.footer{
  &__start{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 20% 2% 20%;
    border-bottom: 1px solid #D9D9D9;
    @media(max-width: 1024px){
    padding: 2% 5% 2% 5%;
    flex-direction: column;
    }
  }
  &__end{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 20% 2% 20%;
    @media(max-width: 1024px){
    padding: 5%;
    }
  }
  &__nav{
    width: 20%;
    display: flex;
    justify-content: space-between;
    @media(max-width: 1024px){
    width: 90%;
    margin-top: 2%;
    }
    @media(max-width: 425px){
      margin-top: 10%;
    }
  }
  &__link{
    font-size: 1.3vmin;
    font-family: 'Aleo Light';
    text-transform: uppercase;
    @media(max-width: 425px){
    font-size: 4.3vmin;
    }
  }
  &__button{
    width: 15%;
    padding: 1%;
    border: 1px solid #D9D9D9;
    font-size: 1.3vmin;
    font-family: 'Aleo Light';
    text-transform: uppercase;
    transition: .4s;
    @media(max-width: 1024px){
    width: 35%;
    padding: 2%;
    margin: 2% 0 2% 0;

    }
    @media(max-width: 425px){
      width: 70%;
      padding: 5%;
          font-size: 3.7vmin;
          margin: 10% 0 10% 0;
    }
    &:hover{
      border: 1px solid #000000;
      background: #000000;
      box-shadow: 2px 2px 10px #c9c9c9;
      color: #fff;
    }
  }
  &__logo{
    font-family: 'Myriad Pro Bold';
    font-size: 3vmin;
    text-transform: uppercase;
    @media(max-width: 425px){
    font-size: 7vmin;
    }
  }
  &__info{
    width: 25%;
    display: flex;
    justify-content: space-between;
    @media(max-width: 1024px){
    width: 50%;
    }
    a{
      font-family: 'Roboto Light';
      color: #898989;
      line-height: 1.5em;
      font-size: 1.55vmin;
      @media(max-width: 425px){
      font-size: 2.55vmin;
      }
    }
  }
}
