.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: fixed;
  z-index: 5;
  width: 60%;
  background: #fff;
  &__logo{
    span{
    font-family: 'Myriad Pro Bold';
    font-size: 3vmin;
    text-transform: uppercase;
  }
  }
  &__nav{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
  }
  &__item{
    button{
      display: flex;
      align-items: center;
      span{
        padding-left: 10px;
      }
    }
  }
  &__menu{
    position: relative;
    display: inline-block;
    margin-top: 10px;
    width: auto;
    &:hover .header__dropdown{
      visibility: visible;
      opacity: 1;
      display: block;
    }
  }
  &__heading{
    font-size: 1.3vmin;
    font-family: 'Aleo Light';
    text-transform: uppercase;
  }
  &__menu-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    svg{
      g{
        path{
              transition: .4s;
        }
      }
    }
  }
  &__dropdown{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: .4s;
    left: -30%;
    display: none;
    box-shadow: 2px 3px 5px #c9c9c9;
    width: 200%;
    background: #fff;
    a{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      font-family: 'Aleo Light';
      font-size: 12px;
      transition: .4s;
      &:hover{
        background: #F1F1F1;
      }
    }
  }
}
