.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: fixed;
  z-index: 5;
  width: 60%;
  padding: 0 20% 0 20%;
  background: #fff;
  transition: .4s;
  @media(max-width: 1024px){
    height: 40px;
    width: 90%;
    padding: 0 5% 0 5%;
  }

  &__logo{
    a{
    font-family: 'Myriad Pro Bold';
    font-size: 3vmin;
    text-transform: uppercase;
    @media(max-width: 425px){
      font-size: 7vmin;
    }
  }
  }
  &__nav{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(max-width: 1024px){
      transform: scale(1, 0);
      position: absolute;
    transform-origin: top;
    transition: .5s;
    top: 40px;
    right: 0;
    background: #f9f9f9;
    width: 90%;
    padding: 0 5% 0 5%;
    }
  }
  &__section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
  }
  &__item{
    display: flex;
    align-items: center;
    cursor: pointer;
    a{
      display: flex;
      align-items: center;
      span{
        padding-left: 10px;
      }
    }
    svg{
      transition: .4s;
    }
    &:hover svg {
      transform: scale(1.2);
      g{
        path{
          fill: #A6CED0;
        }
      }
    }
  }
  &__menu{
    position: relative;
    display: inline-block;
    margin-top: 10px;
    width: auto;
    svg{
      transition: .4s;
      g{
        path{
          transition: .4s;
        }
      }
    }
    &:hover svg {
      transform: scale(1.2);
      g{
        path{
          fill: #A6CED0;
        }
      }
    }
    &:hover .header__dropdown{
      visibility: visible;
      opacity: 1;
      display: block;
    }
  }
  &__heading{
    font-size: 1.3vmin;
    font-family: 'Aleo Light';
    text-transform: uppercase;
  }
  &__menu-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

  }
  &__dropdown{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: .4s;
    left: -30%;
    display: none;
    box-shadow: 2px 3px 5px #c9c9c9;
    width: 200%;
    background: #fff;
    a{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      font-family: 'Aleo Light';
      font-size: 12px;
      transition: .4s;
      &:hover{
        background: #F1F1F1;
      }
    }
  }
  &__menubtn{
    @media (min-width: 1025px) {
      display: none;
  }
  }
  &__search{
    button{
      svg{
        transition: .4s;
        g{
          path{
            transition: .4s;
          }
        }
      }
      &:hover svg {
        transform: scale(1.2);
        g{
          path{
            fill: #A6CED0;
          }
        }
      }
    }
  }
}
.menuBtn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  transition: .5s ease;
  span {
    display: block;
    width: 30px;
    height: 4px;
    background: #000000;
    transition: .5s ease;
  }
  &.active {
    transition: .5s ease;
    .top {
      transform: translateY(0) translateX(0) rotate(45deg);
    }
    .middle {
      opacity: 0;
    }

    .bottom {
      transform: translateY(-15px) translateX(0) rotate(-45deg);
    }
  }
}
.sticky{
  height: 50px;
}
.opened{
  transform: scale(1, 1);
}
