.row{
  flex-direction: row;
}
.row .section__inner{
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.row .section__block{
  flex-direction: column;
  margin: 0;
  width: auto;
}
.grey{
  background: #F8F8F8;
}
.marg{
  margin-bottom: 5%;
}
.no-marg .section__block{
  margin-bottom: 0;
}
.full, .last{
  flex-direction: row;
  padding: 0;
}
.last .section__image{
  width: 55%;
}
.last .section__inner{
  width: 20%;
  padding: 8% 5% 8% 20%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  button{
    font-size: 1.7vmin;
    font-family: 'Aleo Light';
    text-transform: uppercase;
    color: #fff;
    width: 70%;
    background: #000000;
    padding: 20px;
    transition: .4s;
    &:hover{
      background: #f1f1f1;
      color: #333;
      box-shadow: 2px 2px 20px #000000;
    }
  }
}

.full .section__image{
  width: 33%;
}
.full .section__inner{
  width: 26%;
  text-align: center;
  flex-direction: column;
  padding: 4% 4% 0 4%;
}
.slides{
  text-align: center;
}
.slides .section__inner{
  align-items: center;
}
.slides .section__block{
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.avatar{
  margin-bottom: 5%;
  width: 50%;
  img{
    height: auto;
    max-width: 100%;
    border: 1px solid #000000;
    border-radius: 50%;
    transition: .4s;
    &:hover{
      box-shadow: 2px 2px 10px #000000;
      filter: blur(1px);
    }
  }
}
