button{
  outline: none;
  border: none;
  background: inherit;
  padding: 0;
}
a{
  text-decoration: none;
  color: #333;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
.container{
  padding: 0 20% 0 20%;
}
.slider{
  &__wrap{
    padding-top: 80px;
    position: relative;
    @media(max-width: 1024px){
      padding-top: 40px;
    }
  }
  &__info{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
      font-size: 8vmin;
      font-family: 'Abril Fatface Regular';
      color: #fff;
      letter-spacing: 0.08em;
      @media(max-width: 1024px){
      font-size: 5vmin;
      }
    }
    button{
      font-size: 1.7vmin;
      font-family: 'Aleo Light';
      text-transform: uppercase;
      color: #fff;
      width: 40%;
      background: #000000;
      padding: 20px;
      margin-top: 45px;
      transition: .4s;
      @media(max-width: 1024px){
      width: 55%;
      margin-top: 20px;
      padding: 5px;
      }
      &:hover{
        background: #f1f1f1;
        color: #333;
        box-shadow: 2px 2px 20px #000000;
      }
    }
  }
}
// sections//
.section{
  padding: 7% 20% 7% 20%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @media(max-width: 1024px){
  padding: 5%;
  }
  h2{
    font-family: 'Myriad Pro Regular';
    font-size: 3.3vmin;
    font-weight: 500;
    @media(max-width: 425px){
    font-size: 8vmin;
    }
  }
  h3{
    font-family: 'Abril Fatface Regular';
    font-size: 3.5vmin;
    @media(max-width: 425px){
    font-size: 6.5vmin;
    }
  }
  h4{
    font-family: 'Aleo Light';
    font-weight: 600;
    font-size: 1.6vmin;
    @media(max-width: 425px){
    font-size: 4.6vmin;
    }
  }
  &__inner{
    display: flex;
    flex-wrap: wrap;
  }
  &__block{
    width: 28%;
    margin: 0 0 10% 8%;
    display: flex;
    align-items: flex-start;
    @media(max-width: 425px){
    width: 100%;
    margin: 5% 0 0 0;
    }
    &:first-child{
      margin-left: 0;
    }
    &:nth-child(4){
      margin-left: 0;
    }
    &:nth-child(n+3){
      margin-bottom: 0;
    }
  }
  &__asset{
    margin-right: 5%;
    svg{
      transition: .4s;
      g{
        g{
          path{
            transition: .4s;
          }
        }
      }
    }
    &:hover svg{
      transform: rotate(360deg);
      g{
        g{
          path{
            fill: #000000;
          }
        }
      }
    }
    h3{
      transition: .4s;
    }
    &:hover h3{
      transform: rotate(360deg);
      color: #c9c9c9;
    }
  }
  &__image{
    width: 45%;
    position: relative;

    @media(max-width: 425px){
      width: 100%;
    }
    img{
      max-width: 100%;
      height: auto;
      @media(min-width: 426px) and (max-width: 1024px){
        position: absolute;
        top: -50%;
      }
    }
    h2{
      position: absolute;
      top: 30%;
      text-align: center;
      right: -20px;
      @media(max-width: 425px){
      top: 50%;
      right: 35%;
      }
    }
  }
  &__text{
    font-family: 'Roboto Light';
    color: #898989;
    line-height: 1.5em;
    font-size: 1.55vmin;
    @media(max-width: 425px){
    font-size: 3.55vmin;
    }
  }
}
